body,
body *,
body *::before,
body *::after {margin:0;padding:0;border:0;background:transparent;box-sizing:border-box;text-decoration:none;outline:none;font-family:inherit;}
ol, ul, li {list-style:none;display:block;}
table {border-collapse: collapse;border-spacing:0;}
a img {border: none;}

input,
textarea,
select,
button,
input{appearance: none; border-radius: 0;}

button,
a{cursor: pointer; color: inherit;}
textarea{resize: none;}

[readonly] + span,
[readonly]{pointer-events: none; opacity: .4;}

.fullscreen-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

input {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  width: 300px;
  padding: 10px;
  border: 1px solid #66b3ff;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f1f1f1;
}

.container.style{
  display: flex;
}

input:focus{
  outline: none;
  border-color: #66b3ff;
  box-shadow: 0 0 5px #66b3ff;
}

.widget {
  background-color: #a4a0a081;  
 margin-right: 10px;
 flex: 1;
}

body{
    font-family: 'Montserrat', sans-serif;
}